Copyright {{ now.year }} Luke Spurr Allen. All rights reserved  •  Design and development by <a href="http://happeninginteractive.com">Happening Interactive</a>
<!-- 			<svg class="icon icon-facebook"><use xlink:href="#svg__facebook" /></svg> -->
