<p>Copyright {{ now.year }} Luke Spurr Allen. All rights reserved.</p>
<p>Designed and built in New Orleans' Holy Cross neighborhood by <a href="http://happeninginteractive.com">Happening Interactive</a></p>
<!-- 			<svg class="icon icon-facebook"><use xlink:href="#svg__facebook" /></svg> -->


