{#
 # Recordings index template
 # -------------------
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Recordings" %}

{% block content %}
	<h1>Recordings</h1>
	<div class="flex space-between">
	{% for entry in craft.entries.section('recordings').find() %}
		<article>
			<a href="{{ entry.url }}">
			{% for asset in entry.albumArt %}
    			<img class="albumart" src="{{ asset.getUrl('threeHundredPxSquare') }}" />
			{% endfor %}
			</a>
		</article>
	{% endfor %}
	</div>
{% endblock %}
