#container {
	 width: 96%;
}   

.basic-block, .home-block, .show-block, .recording-block, .press-block {
    padding: 1rem;
}

.two-third {
    width: 60%;
}


.home-block img {
	width: 100%;
}

.press-index {
    background-color: rgba(205,92, 92,.5);
    padding: 2rem;
    flex: 0 2 auto;
    width: 100%;
}

.recordings-index {    
	background: rgba(255,255,255, .8);
    border: 1px dotted brown;
    font-size: .9rem;
    line-height: 1.5;
    margin: 1.5rem 0;
    padding: 1.5rem;
}

.recordings-index.space-between {   
	justify-content: space-around;
}

.recordings-index img { 
	margin: .75rem 0;
}  

.title {
    width: 100%;
}