@font-face {
    font-family: 'KatahdinRound-Bold';
    src: url('../webfonts/KatahdinRound-Bold.eot'); /* IE9 Compat Modes */
    src: url('../webfonts/KatahdinRound-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../webfonts/katahdinround-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
        url('../webfonts/katahdinround-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('../webfonts/KatahdinRound-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../webfonts/KatahdinRound-Bold.svg#KatahdinRound-Bold') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
    font-family: 'grotroughregular';
    src: url('../webfonts/grotrough-webfont.eot');
    src: url('../webfonts/grotrough-webfont.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/grotrough-webfont.woff2') format('woff2'),
        url('../webfonts/grotrough-webfont.woff') format('woff'),
        url('../webfonts/grotrough-webfont.ttf') format('truetype'),
        url('../webfonts/grotrough-webfont.svg#grotroughregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: 'Domine', serif;
    background: #ccaa7a url(../images/site/textured_paper_c2780e.jpg) left top repeat;
}

html { 
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


#container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

#header,
#footer {
    display: block;
    color: #000;
    font-family: 'KatahdinRound-Bold', 'grotroughregular', sans-serif;
    text-transform: uppercase;
}

#header a,
#footer a {
    color: #000;
}

#header {
	display: flex;
	justify-content: space-between;
    padding: 25px 0;
    width: 100%;
}

#header a {
    text-decoration: none;
}

#header h1 {
    margin: 0;
    font-size: 30px;
    line-height: 1;
}

#header nav {

}

#header nav ul {
    display: flex;
    margin: 0;
    list-style-type: none;
}

#header nav ul li {
    display: inline-block;
    margin-left: 22px; 
}

#header nav ul li a {
    display: block;
    margin-top: 4px;
    line-height: 22px;
}

#header nav ul li a:hover,
#header nav ul li a.active {
    border-bottom: 2px solid #fff;
}

#header nav ul li a.active {
    cursor: default;
}

#content {
    display: block;
}

#content h1 {
    font-family: 'KatahdinRound-Bold', 'grotroughregular', sans-serif;
    margin-top: 0;
    font-size: 35px;
    font-weight: bold;
}

#content h1.page-title {
    border-top: 2px dotted indianred;
    padding-top: 1.5rem;
}

/*#content h1.poster-content {
    font-family: 'grotroughregular', sans-serif;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
    position: absolute;
}

#content h1.poster-content p, #content h1.poster-content span {
    margin: 0;
    padding: 0;
}
*/
#content a {
    color: #da5a47;
    text-decoration: none;
}

#content .press-index a {
    color: black;
    opacity: .6;
    text-decoration: none;
}

#content a:hover {
    opacity: 1;
    text-decoration: underline;
}

#content h6 {
    margin: .2rem 0 1rem;
}

#footer {
    padding: 15px;
    font-size: 12px;
    text-align: center;
}

.icon {
    height: 16px;
    width: 16px;
}

.albumart {
    margin: 2px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex.center {
    justify-content: center;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.stretch {
    align-items: stretch;
}

.flex.nowrap {
    flex-wrap: nowrap;
}

.flex.flex-start {
    align-items: flex-start;
}

.flex.align-items-center {
    align-items: center;
}


.full-width {
    width: 100%;
}

.basic-block, .home-block, .show-block, .recording-block, .press-block {
    background: rgba(255,255,255, .8);
    font-size: .9rem;
    line-height: 1.5;
    margin: 1.5rem 0;
    padding: 1.5rem;
}

.home-block {
    padding: .25rem;
}

.inset-border {
    border: 1px dotted brown;
    height: 100%;
    padding: 1.25rem;
}

.basic-block .photo {
    line-height: 1;
}

.basic-block .photo img {
    width: 100%;
}

.home-block h2 {
    border-bottom: 1px dotted black;
    font-size: .8rem;
    letter-spacing: .1rem;
    margin-bottom: 1.5rem;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.home-block p {
   /*margin: 0;*/ /* remind me why? -DRR */
}

.home-block.about p {
    margin-bottom: 1rem;
} 

.paper-separator{
    background: url(../images/site/textured_paper_c2780e.jpg) left top repeat;
    height: .2rem;
    margin: 1rem 0;
}

.press-block {
    margin: 0 auto;
}

.press-divider{
    height: 2rem;
}

.press-index {
    background-color: rgba(255, 199, 114,.2);
    height: 100%;
    padding: 3rem;
}

.press-index a {
    color: black;
    opacity: .8;
}

.press-title {
    background-color: rgba(255, 199, 114,.2);
    min-height: 100%;
    padding: 3rem;
}


.press-text {
    margin: 4rem auto;
}

.press-text p {
    line-height: 1.5;
    width: 75%;
}

.press-intro {
}

.title {
    align-items: center;
    background-color: rgba(205,92, 92,.5);
    box-sizing: border-box;
    padding: 0 2rem;
    text-align: center;
    width: 45%;
}

.article-text
.recording-text {
    margin: 0;
    padding: 0 1.5rem;
}

.recording-text h1 {
    margin: 0;
}

.recordings-page {
    padding: 1rem;
}

.show-block h2 p {
    margin: 0;
}

#content .pastshows-link a {
    background: indianred;
    color: white;
    font-family: 'Oswald', sans-serif;
    padding: .5rem;
}

.pastshows-link a::before {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 24px solid indianred;
    border-bottom: 12px solid transparent;
}

.recording-text p, .recording-text li, .lyrics p {
    width: 75%;
}

.half {
    width: 50%;
}

.third {
    width: 33%;
}

.third img {
    width: 100%;
}

.two-third {
    width: 64%;
}

.sixforty {
    width: 640px;
}

.text-align-center {
    text-align: center;
}

.smallcaps {
    font-vari­ant: small-caps;
}

/*****  REQUIRED FOR SLABTEXT.JS *****/
.slabtexted .slabtext {
    display: -moz-inline-box;
    display: inline-block;
    white-space: nowrap;
}

.slabtextinactive .slabtext {
    display: inline;
    white-space: normal;
    font-size: 1em !important;
    letter-spacing: inherit !important;
    word-spacing: inherit !important;
    *letter-spacing: normal !important;
    *word-spacing: normal !important;
}

.slabtextdone .slabtext {
    display: block;
}   

.canvas-container {
    position: relative;
    margin-bottom: 1rem;
}

#content .canvas-container a {
    color: black;
}

#content .canvas-container a:hover {
    text-decoration: none;
    color: white;
}

.poster {
    display: flex; 
    align-items: center;
    width: 100%;
    -webkit-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.2);
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.2);
}

.canvas-container.home .poster {
    min-height: 480px;
}

.canvas-container.shows-index .poster, .canvas-container.shows-entry .poster {
    min-height: 525px;
}

.bigText-container {
    font-family: 'grotroughregular', sans-serif;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
}

.bigText-container .bigText {
    line-height: .9;
    -moz-text-size-adjust: 90%;
    -ms-text-size-adjust: 90%;
    -webkit-text-size-adjust: 90%;
}

.bigText-container .bigText p {
    margin: 0;
    padding: 0;
}

.staple {
    background: url(../images/site/staple.png) center center no-repeat;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 3%;
    z-index: 2
}

.staple.bottom {
    top: inherit;
    bottom: 2%;
}

.staple.left {
    left: 3%;
}   

.staple.right {
    right: 3%;
}    