{#
 # Video index template
 # -------------------
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Luke Spurr Allen : Video" %}

{% block content %}
	<h1>Press</h1>
	<div class="recording-block">
		<article class="flex nowrap space-between">
			{% for entry in craft.entries.section('press').find() %}
			
			<div class=two-third">
			{% for asset in entry.videos %}
    			{{ entry.embedCode }}
			{% endfor %}
			</div>
			<div class="two-third">
			<h1>{{ entry.title }}</h1>
			</div>
		</article>
	{% endfor %}
	</div>
{% endblock %}